.card {
    border: solid 5px black;
    width: 365px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: solid 2px black;
    float: left;
    margin: 10px;
}

section li {
    list-style-type: none;
}

