.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 5px black;
    background-color: whitesmoke;
    margin-top: 5px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: solid 2px black;
    float: left;
    margin: 10px;
}

.sectionElement {
    border: solid 1px black;
}
section,
h2 {
    text-align: center;
}

section li {
    list-style-type: none;
}

section img {
    filter: grayscale(100%);
    display: block;
    align-self: middle;
}
section ul {
    padding: 0;  
}

