.newsSection {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border: solid black 2px;
    width: 97%;
    margin-left: 3px;
    height: 250px;
    vertical-align: top;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px black;
}

#newsArticle {
    display: block;
    border: solid 5px black;
    background-color: whitesmoke;
    margin-top: 5px;
}

.event {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}

.newsSection ul{
    margin:0;
    padding-left: 0;
}

.newsSection ul li {
    margin-left: 25px;
    margin-bottom: 5px;
}


.newsSection ul .Date {
    margin-top: 0;
    margin-left: inherit;
    margin-bottom: 20px;
    text-align: center;
    list-style: none;
    list-style-position: inside;
}

@media screen and (min-width: 566px) {
    #newsArticle {
        display: block;
        border: solid 5px black;
        background-color: whitesmoke;
        margin-top: 5px;
    }
    
    .newsSection {
        /* margin-right: auto; */
        width: 50%;
        border: solid 5px black;
        background-color: whitesmoke;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 25%;
    }

    
}

@media screen and (min-width: 1140px) {
    
    .newsSection{
        width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .newsSection:nth-child(2n+1) {
        float: right;
    }

    
}

@media screen and (min-width: 1209px) {
   .newsSection{
        margin-left: 40px;
        margin-right: 40px;
    }

    
}