h3{
    margin: 10px;
}

@media (min-width: 582px){
    .ryFinIn li{
        margin-top: 10px;
        margin-right: 10px;
        font-size: .75em;
    }

    .ryFinIn h2 {
        font-size: 1.3em;
    }
}
