/***************
Global Styles
****************/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/***************
Header styles
******************/
nav {
    height: 132px;
    width: 100%;
    background-color: grey;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: .5em;
}

nav a:hover {
    color: orange;
}

nav a:active {
    color: darkorange;
}

nav img {
  float: left;
  background-color: grey;
}

/**************
Main Content Styles
******************/

body {
    background-color: lightgray;
}

h1, 
h2 
{
    color:tomato;
}

h3, 
h4 {
    color: brown;
}


/***************
Media Queries
******************/

@media screen and (max-width: 748px) {
    nav {
        height: inherit;
    }
    nav img, nav a {
        display: block;
    }
    nav a {
        clear: both;
    }
};